.dataframe {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.dataframe th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}